<div class="container">
  <mat-spinner *ngIf="isLoading" class="spinner"></mat-spinner>
  <mat-card class="card">
    <form class="example-form">
      <mat-form-field class="example-full-width">
        <mat-label>Addresse</mat-label>
        <input
          type="text"
          matInput
          [formControl]="myControl"
          [matAutocomplete]="auto"
        />
        <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
          <mat-option
            *ngFor="let option of filteredOptions | async"
            [value]="option"
          >
            {{ option.address }}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
    </form>
    <button
      mat-icon-button
      color="primary"
      aria-label="Example icon button with a home icon"
      (click)="moveToUserLocation()"
    >
      <mat-icon>my_location</mat-icon>
    </button>
  </mat-card>
  
  <button mat-mini-fab (click)="takeScreenshot()" class="button">
    <mat-icon>fullscreen</mat-icon>
  </button>
  
  
  
  <div #screen class="screen">
    <google-map #maps
      class="google-maps"
      height="100%"
      width="100%"
      [center]="center"
      [options]="mapoptions"
    ></google-map>
  </div>
  
  <div class="screenshot-container">
    <div class="screenshot-zone"></div>
  </div>
</div>
